{{include file='public/head' /}}
<body class="childrenBody">
<form class="layui-form" onkeydown="if(event.keyCode==13) return false;">
	<blockquote class="layui-elem-quote">
		<a class="layui-btn layui-btn roleAdd" data-url="{{:url('roleAdd')}}">新增角色</a>　<span class="layui-word-aux">添加角色</span>
	</blockquote>
	<table id="roleList" lay-filter="roleList" edit-url="{{:url('roleEdit')}}" del-url="{{:url('roleDel')}}"></table>
	<!--操作-->
	<script type="text/html" id="roleListBar">
		<a class="layui-btn layui-btn-sm roleDel" lay-event="edit">编辑</a>
		<a class="layui-btn layui-btn-sm layui-btn-danger roleDel" lay-event="del">删除</a>
	</script>
</form>
{{include file='public/foot' /}}	
<script type="text/javascript">
layui.config({
        base : '{{:__MY__STATIC__}}/admin/js/extend/'
    }).extend({
        tableOp:'tableOp'
    }).use(['tableOp','formSub'],function(){
    var formSub = layui.formSub,
        tableOp = layui.tableOp;
    //table
    var option={
        table:{
            elem:"#roleList",
            url:"{{:url('roleList')}}",
            page:false,
        },
        colsName:"admin-role-index",
    };
    tableOp.init(option,function(tableIns){});

    //添加角色
    $('.roleAdd').click(function(){
        formSub.addBtn({
            title:"添加角色",
            url:$(this).attr('data-url'),
        });
    });
    //编辑、删除
    formSub.tableTool({
        tableFilterName:"roleList",
        editUrl:$("#roleList").attr('edit-url'),
        delUrl:$("#roleList").attr('del-url'),
        forbidId:[1,2],
        forbidMsg:"默认角色无法删除",
        key:"角色"
    });
})

</script>
</body>
</html>