{{include file='public/head' /}}
<style type="text/css">
	
</style>
<body class="childrenBody">
<form class="layui-form" style="width:80%;">
	<div class="layui-form-item layui-row layui-col-xs12">
		<label class="layui-form-label">角色名称</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" name="name" lay-verify="required">
		</div>
	</div>
	<div class="layui-form-item layui-row layui-col-xs12">
		<label class="layui-form-label">描述</label>
		<div class="layui-input-block">
			<textarea name="role_des" class="layui-textarea"></textarea>
		</div>
	</div>
	<div class="layui-row">
		<div class="magb15 layui-col-xs12">
			<label class="layui-form-label">权限分配</label>
			<div class="layui-tab layui-tab-brief">
				<ul class="layui-tab-title">
				    <li class="layui-this">后台权限</li>
				    <li>前台权限</li>
				</ul>				
				<div class="layui-tab-content">
					<div class="layui-tab-item layui-show">
						<div class="layui-input-block">
							{{foreach name='back' item='v0'}}
			            	{{if $v0.level==0 }}
							<dl class="permission-list">
								<dt>
									<input name="role_auth_ids[]" lay-skin="primary" lay-filter="father" type="checkbox" title="{{:$v0.name}}" value="{{:$v0.id}}">
								</dt>
								<dd>   
									{{foreach name='back' item='v1'}}
									{{if $v1.pid==$v0.id }}
									<dl class="cl">
										<dt>
											<input name="role_auth_ids[]" lay-skin="primary" lay-filter="child" type="checkbox" title="{{:$v1.name}}" value="{{:$v1.id}}">
										</dt>
										<dd>
											{{foreach name='back' item='v2'}}
											{{if $v2.pid==$v1.id }}
											<input name="role_auth_ids[]" lay-skin="primary" type="checkbox" title="{{:$v2.name}}" value="{{:$v2.id}}">
											{{/if}}
											{{/foreach}}
										</dd>
									</dl>
									{{/if}}
									{{/foreach}}
								</dd>
							</dl>
							{{/if}}
							{{/foreach}}
						</div>
					</div>
					<div class="layui-tab-item">
						<div class="layui-input-block">
							{{foreach name='home' item='v0'}}
			            	{{if $v0.level==0 }}
							<dl class="permission-list">
								<dt>
									<input name="role_auth_ids[]" lay-skin="primary" lay-filter="father" type="checkbox" title="{{:$v0.name}}" value="{{:$v0.id}}">
								</dt>
								<dd>   
									{{foreach name='home' item='v1'}}
									{{if $v1.pid==$v0.id }}
									<dl class="cl">
										<dt>
											<input name="role_auth_ids[]" lay-skin="primary" lay-filter="child" type="checkbox" title="{{:$v1.name}}" value="{{:$v1.id}}">
										</dt>
										<dd>
											{{foreach name='home' item='v2'}}
											{{if $v2.pid==$v1.id }}
											<input name="role_auth_ids[]" lay-skin="primary" type="checkbox" title="{{:$v2.name}}" value="{{:$v2.id}}">
											{{/if}}
											{{/foreach}}
										</dd>
									</dl>
									{{/if}}
									{{/foreach}}
								</dd>
							</dl>
							{{/if}}
							{{/foreach}}
						</div>
					</div>
		           
		        </div>
			</div>
		</div>
	</div>

	<div class="layui-form-item layui-row layui-col-xs12">
		<div class="layui-input-block">
			<button type="button"class="layui-btn layui-btn-sm" lay-submit lay-filter="admin-roleadd-sub">立即添加</button>
			<button type="reset" class="layui-btn layui-btn-sm layui-btn-primary">取消</button>
		</div>
	</div>
</form>
{{include file='public/foot' /}}
<script type="text/javascript">
	layui.config({
			base : '{{:__MY__STATIC__}}/admin/js/extend/'
		}).use(['formSub','element'],function(){
		var formSub=layui.formSub,
		element = layui.element;
		//全选反选
		formSub.roleAuthSelect();
		//子菜单全选反选
		formSub.roleAuthChildSelect();
		//提交
		formSub.sub({
			subBtnName:"admin-roleadd-sub"
		});
	})


</script>
</body>
</html>