{{include file='public/head' /}}
<body>
    {{include file='public/nav' /}}
    <div class="banner banner-about"></div>
    <div class="about-us color-bank">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-5 about-1">
                    <img src="{{$Think.__MY__STATIC__}}/home/image/about-1.jpg">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-7">
                    <div class="about-content">
                        <img src="{{$Think.__MY__STATIC__}}/home/image/about-us.png">
                        <p class="font-about-y">
                            公司位于德阳市经开区银鑫·五洲广场15层，注册资金1000万元。致力于开发原生态野味美食产业链！公司依托『野嘀生鲜』的品牌，展开实体专卖店加互联网+的营销模式，将珍贵的牦牛、藏香猪、藏山羊等天南海北的原生态稀有食材，无缝对接到每一位客户的餐桌。产品已经远销北京、上海、广州等地。于此同时，凤望龙门、晓宇火锅、川西坝子等知名餐饮品牌也与我们展开了深度合作，并获得广大消费者的高度赞美！美味与健康并存，营养与信仰齐飞-吃野味，选野嘀！
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="vision-us color-bank1">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <img src="{{$Think.__MY__STATIC__}}/home/image/rect1.png">
                    <p class="font-y vision-title">我们的愿景</p> 
                    <p class="font-sy vision-content">打造全球一流的金融服务企业</p> 
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <img src="{{$Think.__MY__STATIC__}}/home/image/rect2.png">
                    <p class="font-y vision-title">我们的使命</p> 
                    <p class="font-sy vision-content">改变每个人的送礼方式</p> 
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <img src="{{$Think.__MY__STATIC__}}/home/image/rect3.png">
                    <p class="font-y vision-title">我们的作风</p> 
                    <p class="font-sy vision-content">改变每个人的送礼方式</p> 
                </div>
            </div>
        </div>
    </div>

    <div class="contact-us color-bank">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="contact-content">
                        <img src="{{$Think.__MY__STATIC__}}/home/image/contact-us.png">
                        <p class="font-sy font-30 contact-title">联系我们</p>
                        <p class="font-company-y font-18 contact-company">四川野嘀食品有限责任公司</p>
                        <section>
                            <p class="font-about-y">
                                <i class="iconfont icon-dianhua"></i>
                                <span>Tel：400-619-6922</span>
                            </p>
                        </section>
                        <section>
                            <p class="font-about-y">
                                <i class="iconfont icon-dingwei"></i>
                                <span>地址：四川省德阳市泰山南路二段733号银鑫·五洲广场一期21栋15-2号</span>
                            </p>
                        </section>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-5 about-1">
                    <img src="{{$Think.__MY__STATIC__}}/home/image/map.png" style="margin-top: -50px;">
                </div>
               
            </div>
        </div>
    </div>
    {{include file='public/footer' /}}
</body>
{{include file='public/foot' /}}

</html>


