{{include file='public/head' /}}
<body>
    {{include file='public/nav' /}}
    <div class="banner banner-join"></div>

    <div class="join">
        <div class="line1">
            <div class="container"> 
                <h1 class="font-h1 font-36">野嘀是什么？</h1>
                <p class="font-about-y">野嘀的诞生可谓适逢其时，是礼品市场产品形态和商业模式的一次巨大创新。我们正面临一个产业升级，消费升级的时代，加入我们，你能收获的不仅仅是财富的增长，还将亲临一场礼品行业的变革，见证中国礼品的焕然新生。我们无比相信，这将是一次有预谋的成功，诚邀有志之士同行，开疆拓土，做中国礼品的现代派，带领中国礼品业重新走向世界。</p>
            </div>
        </div>
        <div class="line2 color-bank1">
            <div class="container">
                <h1 class="font-h1 font-36">选择野嘀四大理由</h1>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <img src="{{$Think.__MY__STATIC__}}/home/image/join1.png">
                        <p class="font-y title">市场价值明显</p> 
                        <p class="font-sy join-content">以“送礼送健康”为依托，生活保障后就注重健康，而营养保健成为送礼首选。</p> 
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <img src="{{$Think.__MY__STATIC__}}/home/image/join2.png">
                        <p class="font-y title">市场潜力大</p> 
                        <p class="font-sy join-content">野嘀品牌讲究新颖、个性、创新，满足现代人需求，以线上线下体验店模式，创新性强，市场潜力大。</p> 
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <img src="{{$Think.__MY__STATIC__}}/home/image/join3.png">
                        <p class="font-y title">市场容量大</p> 
                        <p class="font-sy join-content">2014年我国礼品行业需求规模超过8000亿元，其中个人需求超过5000亿元。</p> 
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <img src="{{$Think.__MY__STATIC__}}/home/image/join4.png">
                        <p class="font-y title">高收益</p> 
                        <p class="font-sy join-content">加盟商由野嘀直招，渠道扁平，降低运营成本，高额利润分成，确保高收益。</p> 
                    </div>
                </div>
            </div>
        </div>
        <div class="line3">
            <div class="container"> 
                <h1 class="font-h1 font-36">加盟条件</h1>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-sm-12">
                        <p class="font-y join-des color-bank1">具备创新思维，具备实干精神，认同野嘀品牌理念；在当地市场具有良好的商业信誉以及优秀的创业心态。</p> 
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-sm-12">
                        <p class="font-y join-des color-bank1">有固定的消费客户，熟悉当地茶叶消费状况，在当地有丰富的人脉资源，有一定影响力。</p> 
                    </div>
                </div>
            </div>
        </div>
        <div class="line4">
            <div class="container"> 
                <h1 class="font-h1 font-36">马上加入</h1>
                <p class="font-about-y join-hf">我们会在5个工作日内给您回复</p>
                <div class="row color-bank1 fm">
                    <form class="form-horizontal" id="fm">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-sm-12">
                        <div class="form-group">
                            <label for="name" class="col-sm-4 col-xs-4 control-label">联系人姓名</label>
                            <div class="col-sm-8 col-xs-8">
                              <input type="text" class="form-control" id="name" name="name" placeholder="请输入姓名">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="wx" class="col-sm-4 col-xs-4 control-label">微信号</label>
                            <div class="col-sm-8 col-xs-8">
                              <input type="text" class="form-control" id="wx" name="wx">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 col-xs-4 control-label">性别</label>
                            <div class="col-sm-8 col-xs-8" style="text-align: left;">
                              <label class="radio-inline">
                                  <input type="radio" name="sex" value="0" checked="checked"> 男
                                </label>
                                <label class="radio-inline">
                                  <input type="radio" name="sex" value="1"> 女
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-sm-2 line">
                        <span></span>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 col-sm-12">
                            <div class="form-group">
                                <label for="sheng" class="col-sm-4 col-xs-4 control-label">省份</label>
                                <div class="col-sm-8 col-xs-8">
                                  <input type="text" class="form-control" id="sheng" name="sheng" placeholder="请填写您要代理或加盟的省份">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="city" class="col-sm-4 col-xs-4 control-label">城市</label>
                                <div class="col-sm-8 col-xs-8">
                                  <input type="text" class="form-control" id="city" name="city" placeholder="请填写您要代理或加盟的城市">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="mobile" class="col-sm-4 col-xs-4 control-label">电话</label>
                                <div class="col-sm-8 col-xs-8">
                                  <input type="text" class="form-control" id="mobile" name="mobile">
                                </div>
                            </div> 
                    </div>
                    </form>
                </div>
                <button type="button" class="btn btn-default sub">提交</button>
            </div>
        </div>
    </div>

    {{include file='public/footer' /}}
</body>
{{include file='public/foot' /}}
<script type="text/javascript" src="{{$Think.__MY__STATIC__}}\common\layer\layer.js"></script>
<script type="text/javascript">
    $(".sub").click(function(){
        _this = $(this);
        _this.attr("disabled",true);
        $.ajax({
              type: "post",
              url: "#",
              data: $('#fm').serializeArray(),
              dataType :'json',
              success: function(res){
                layer.alert(res.message, {icon: 5});
                _this.attr("disabled",false);
              },
              error:function(){
                layer.alert("服务器异常,请稍后重试",{icon: 5});
                _this.attr("disabled",false);
              }
        })           
    });
    
</script>




</html>

