{{include file='public/head' /}}
<body>
    {{include file='public/nav' /}}
    <div class="banner banner-news"></div>
    <div class="news color-bank">
        <div class="container">
            {{foreach $data as $v}}
            <section>
                <div class="pic col-md-4 col-xs-6">
                    <img src="{{$v['url']}}"></div>     
                <article class="list col-md-8 col-xs-6">
                    <h3>{{:$v['title']}}</h3>
                    <p class="news-content">{{:$v['describe']}}</p>
                    <p class="time font-line-y">{{:date('Y-m-d',$v['add_time'])}}</p>
                    <a class="jump" href="{{:url('pre',['id'=>$v['id']])}}">点击查看</a>
                </article>
            </section>
            {{/foreach}}
            <!-- 分页 -->
            <nav style="text-align: center;">
                {{$data|raw}}
            </nav>
        </div>
    </div>
    {{include file='public/footer' /}}
</body>
</html>
{{include file='public/foot' /}}

