{{include file='public/head' /}}
<link rel="stylesheet" href="{{$Think.__MY__STATIC__}}/common/webuploader/css/webuploader.css" />
<body class="childrenBody">
<form class="layui-form ">
	<div class="layui-form-item">
		<label class="layui-form-label">名称</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" lay-verify="required" placeholder="请输入名称" name="download_name" value="{{$download_info['download_name']}}" />
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">分组标识</label>
		<div class="layui-input-block">
			{{:createConfigSelect('web.downType','type',true,$download_info['type'])}}
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">LOGO</label>
		<div class="layui-upload">
			<div id="logo">上传图片</div>
		</div> 
	</div>
	<!-- <div class="layui-form-item">
		<label class="layui-form-label">LOGO</label>
		<div class="layui-upload">
			 <button type="button" class="layui-btn" id="logo" upload-url="{{:url('uploadDownloadLogo')}}">上传图片</button>
		</div>   
	</div> -->
	<!-- <div class="layui-form-item">
		<label class="layui-form-label">软件</label>
		<div class="layui-input-block">
			<div class="layui-upload">
				<div id="uploader" class="wu-example">
				    <div id="file">选择文件</div>
				</div>
			</div> 
			<div class="layui-progress" id="progress" style="width:300px;display: none;" lay-filter="progress">
			  <div class="layui-progress-bar layui-bg-green" lay-percent="0%"></div>
			</div>	
		</div>
	</div> -->
	<div class="layui-form-item">
		<label class="layui-form-label">软件</label>
		<div class="layui-input-block">
			<div class="layui-upload">
				<div id="file">选择文件</div>
			</div> 
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">跳转链接</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" name="location" value="{{$download_info['location']}}" />
			<div class="layui-form-mid layui-word-aux">例如：http://www.baidu.com</div>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">排序</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" lay-verify="required" value="{{$download_info['sort']}}" style="width:100px;" name="sort" />
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">描述</label>
		<div class="layui-input-block">
			<textarea class="layui-textarea" name="describe">{{$download_info['describe']}}</textarea>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-input-block">
			<button type="button"class="layui-btn layui-btn" lay-submit lay-filter="admin-downloadedit-sub">提交</button>
			<button type="reset" class="layui-btn layui-btn layui-btn-primary">重置</button>
		</div>
	</div>
</form>
</body>
{{include file='public/foot' /}}
<script type="text/javascript" src="{{$Think.__MY__STATIC__}}/common/webuploader/dist/webuploader.js"></script>
<script type="text/javascript">
layui.config({
        base : '{{:__MY_PUBLIC_URL__}}static/admin/js/extend/'
}).extend({
	uploadOp:'uploadOp'
}).use(['formSub','uploadOp'],function(){
	var formSub=layui.formSub,
	uploadOp=layui.uploadOp;
	//编辑图片
	uploadOp.webuploadImg({
		type:"edit",
		id:"{{$download_info['logo_id']}}",
		url:"{{:$download_info['url']}}",//图全地址
		realName:"{{:$download_info['real_name']}}",//图片的真实名
		uploadSubName:'logo_id', //上传成功后赋值的隐藏域的name
		imgW:170,	//显示的图片宽
		imgH:170,	//显示的图片高
		//webupload的配置项
		webuploadOption:{
			pick:$("#logo"),
			server:"{{:url('uploadDownloadLogo')}}"
		}
	});
	//编辑文件
	uploadOp.webuploadFile({
		type:"edit",
		id:"{{$download_info['file_id']}}",//编辑文件的id
		realName:"{{:$download_info['file_name']}}",//图片的真实名
		uploadSubName:"file_id",//上传成功后赋值的隐藏域的name
		webuploadOption:{
			pick: $("#file"), //上传按钮id
	  		server:"{{:url('uploadFile')}}",
		}
	});

	//提交
	formSub.sub({
		subBtnName:'admin-downloadedit-sub',
		msg:'修改成功',
	});
})
</script>
</html>