{{include file='public/head' /}}
<link rel="stylesheet" href="{{$Think.__MY__STATIC__}}/common/webuploader/css/webuploader.css" />
<body class="childrenBody">
<form class="layui-form">
	<div class="layui-form-item">
		<label class="layui-form-label">网站名称</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" lay-verify="required" placeholder="请输入网站名称" name="link_name" value="{{$link_info['link_name']}}" />
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">分组标识</label>
		<div class="layui-input-block">
			{{:createConfigSelect('web.linkType','type',false,$link_info['type'])}}
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">图片</label>
		<div class="layui-upload">
			<div id="thumb">选择图片</div>
		</div> 
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">网站地址</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" lay-verify="required" placeholder="请输入网站地址" name="url" value="{{:$link_info['url']}}"/>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">icon</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" name="icon" placeholder="填写class名,例如：icon-xiazai" value="{{:$link_info['icon']}}">
			<span class="layui-word-aux layui-inline" style="margin-top: 5px;">示例：<a href="{{:$Think.__MY__STATIC__.'/common/font/demo_index.html'}}" target="_blank" style="color:#0014ff;">{{:$Think.__MY__STATIC__}}/common/font/demo_index.html</a></span>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">排序</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" lay-verify="required" style="width:100px;" name="sort" value="{{:$link_info['sort']}}"/>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">新页面</label>
		<div class="layui-input-block">
			<input type="checkbox" name="is_new" lay-skin="switch" value="{{$link_info['is_new']}}" lay-text="是|否" {{php}}if($link_info['is_new']==1) echo 'checked';{{/php}}>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">描述</label>
		<div class="layui-input-block">
			<textarea class="layui-textarea" name="describe">{{:$link_info['describe']}}</textarea>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-input-block">
			<button type="button"class="layui-btn layui-btn" lay-submit lay-filter="admin-linkedit-sub">提交</button>
			<button type="reset" class="layui-btn layui-btn layui-btn-primary">重置</button>
		</div>
	</div>
</form>
</body>
{{include file='public/foot' /}}
<script type="text/javascript" src="{{$Think.__MY__STATIC__}}/common/webuploader/dist/webuploader.js"></script>
<script type="text/javascript">
layui.config({
        base : '{{:__MY_PUBLIC_URL__}}static/admin/js/extend/'
}).extend({
	uploadOp:'uploadOp'
}).use(['formSub','uploadOp'],function(){
	var formSub=layui.formSub,
	uploadOp=layui.uploadOp;
	//编辑图片
	uploadOp.webuploadImg({
		type:"edit",
		id:"{{$link_info['thumb_id']}}",
		url:"{{$link_info['img_url']}}",//图全地址
		realName:"{{:$link_info['real_name']}}",//图片的真实名
		uploadSubName:'thumb_id', //上传成功后赋值的隐藏域的name
		//webupload的配置项
		webuploadOption:{
			pick:$("#thumb"),	//上传按钮对象
			server:"{{:url('uploadLogo')}}"
		}
	});
	//提交
	formSub.sub({
		subBtnName:'admin-linkedit-sub',
		msg:'修改成功',
	});
})
</script>
</html>