{{include file='public/head' /}}
</style>
<body class="childrenBody">
	<blockquote class="layui-elem-quote quoteBox">
		<form class="layui-form">
			<div class="layui-inline">
				<a class="layui-btn addLink_btn">添加友链</a>
			</div>
		</form>
	</blockquote>
	<table id="linkList" lay-filter="linkList" data-url="{{:url('getLinkList')}}" add-url="{{:url('linkAdd')}}" edit-url="{{:url('linkEdit')}}" del-url="{{:url('linkDel')}}" switch-url="{{:url('linkSwitch')}}"></table>
	<!--操作-->
	<script type="text/html" id="bar">
		<a class="layui-btn layui-btn-sm" lay-event="edit">编辑</a>
		<a class="layui-btn layui-btn-sm layui-btn-danger" lay-event="del">删除</a>
	</script>
</body>
{{include file='public/foot' /}}
<script type="text/javascript">
layui.config({
    base : '{{:__MY_PUBLIC_URL__}}static/admin/js/extend/'
}).extend({
     tableOp:'tableOp'
}).use(['tableOp','formSub'],function(){
	var tableOp=layui.tableOp,
    formSub=layui.formSub;
     //分类列表table
    var option={
        table:{
            elem:"#linkList",
            url:$("#linkList").attr('data-url'),
            page:false,
            // 数据加载完后再渲染图片
            done:function(){
                layer.photos({
                  photos: '.layer-photos'
                  ,anim: 5 
                });
            }
        },
        colsName:"admin-config-link",
    };
    tableOp.init(option,function(tableIns){});

    //添加
    $(".addLink_btn").click(function(){
        formSub.addBtn({
            title:"添加链接",
            url:$("#linkList").attr('add-url'),
        });
    })

    //编辑删除
    formSub.tableTool({
        tableFilterName:"linkList",
        editUrl:$("#linkList").attr('edit-url'),
        delUrl:$("#linkList").attr('del-url'),
        key:"链接"
    });
    //状态切换
    formSub.switch({
        switchBtnName:"admin-link-state",
        url:$("#linkList").attr('switch-url')
    });
});




</script>
</html>