{{include file='public/head' /}}
<body class="childrenBody">
<form class="layui-form">
	<blockquote class="layui-elem-quote quoteBox">
		<div class="layui-inline">
			<a class="layui-btn layui-btn-normal add_btn" data-type="ajax" data-url="{{:url('categoryAdd')}}">新增</a>
		</div>
	</blockquote>
	<table id="categoryList" lay-filter="categoryList" data-url="{{:url('getCategoryList')}}" edit-url="{{:url('categoryEdit')}}" del-url="{{:url('categoryDel')}}"></table>
	<!--操作-->
	<script type="text/html" id="categoryListBar" lay-filter="categoryListBar">
		<a class="layui-btn layui-btn-normal layui-btn-sm" lay-event="edit">编辑</a>
		<a class="layui-btn layui-btn-sm layui-btn-danger" lay-event="del">删除</a>
	</script>
</form>
{{include file='public/foot' /}}
<script type="text/javascript">
layui.config({
		base : '{{:__MY_PUBLIC_URL__}}static/admin/js/extend/'
	}).extend({
        tableOp:'tableOp'
    }).use(['tableOp','formSub'],function(){
	var tableOp = layui.tableOp,
        formSub = layui.formSub;
    //分类列表table
    var option={
        table:{
            elem:"#categoryList",
            url:$("#categoryList").attr('data-url'),
            page:false,
        },
        colsName:"admin-articel-articlecategory",
    };
    tableOp.init(option,function(tableIns){});

    //添加
    $(".add_btn").click(function(){
        formSub.addBtn({
            title:"添加分类",
            url:$(this).attr('data-url'),
            area:['450px','500px'],
            closeInfo:false,
        });
    })
   //编辑、删除
    formSub.tableTool({
        tableFilterName:"categoryList",
        editUrl:$("#categoryList").attr('edit-url'),
        delUrl:$("#categoryList").attr('del-url'),
        key:"分类",
        area:['450px','500px'],
        editSuccess:function(layero, index,obj){
            var body=$(layero).find("iframe")[0].contentWindow.document.body;
            body=$(body);
            body.find("input[name='name']").val(obj.data.name);
            body.find("input[name='id']").val(obj.data.id);
            body.find("input[name='location']").val(obj.data.location);
            body.find("input[name='column_id']").val(obj.data.column_id);
            body.find("input[name='sort']").val(obj.data.sort);
            body.find("#tree").val(obj.data.column_name);
        }
    });

})

</script>
</body>
</html>