{{include file='public/head' /}}
<style type="text/css">
	.layui-form-checkbox{
		margin-bottom: 10px;
	}
</style>
<body class="childrenBody">
<form class="layui-form" style="width:80%;">
	<div class="layui-form-item layui-row layui-col-xs12">
		<label class="layui-form-label">帐号</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" value="{{:$user_info['username']}}" disabled>
		</div>
	</div>
	<div class="layui-row">
		<div class="magb15 layui-col-xs12">
			<label class="layui-form-label">所属区域</label>
			<div class="layui-input-block" style="width:250px;">
				{{:createLayuiSelect('area','area_id','id','name',true,$user_info['area_id'])}}
			</div>
		</div>
	</div>
	<div class="layui-row">
		<div class="magb15 layui-col-xs12">
			<label class="layui-form-label">所属角色</label>
			<div class="layui-input-block">
				{{foreach name='role_info' item='v'}}
				<input type="checkbox" name="role_ids[]" value="{{:$v['id']}}" lay-skin="primary" title="{{:$v['name']}}" {{php}} if(in_array($v['id'],$user_info['role_ids_array'])) echo 'checked'; {{/php}}>
				{{/foreach}}
			</div>
		</div>
	</div>
	<div class="layui-form-item layui-row layui-col-xs12">
		<div class="layui-input-block">
			<button type="button"class="layui-btn layui-btn-sm" lay-submit lay-filter="user-useredit-sub">确认修改</button>
			<button type="reset" class="layui-btn layui-btn-sm layui-btn-primary">取消</button>
		</div>
	</div>
	<input type="hidden" name="id" value="{{:$user_info['id']}}">
</form>
{{include file='public/foot' /}}
<script type="text/javascript">
layui.config({
		base : '{{:__MY__STATIC__}}/admin/js/extend/'
	}).use(['form','formSub'],function(){
	var form=layui.form,
        formSub = layui.formSub;
	//提交
	formSub.sub({
		subBtnName:"user-useredit-sub",
		url:"{{url('userEdit');}}",
		msg:"修改成功"
	});
})


</script>
</body>
</html>